SITE_URL=http://127.0.0.1:4321

RESEND_API_KEY=re_your_resend_api_key_here
QUOTE_FROM_EMAIL="Apex Packaging <sales@apexpackagingsolutions.com>"
QUOTE_TO_EMAIL=sales@apexpackagingsolutions.com

STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key_here
