node_modules/
dist/
.astro/
.env
.env.local
.DS_Store
*.log
.vercel/
.netlify/

Apex Website.docx.pdf
Final LOGO.png
Banner 1.png
Banner 2.png
Bannner 3.png
* Corrugated Boxes.png
*. Kraft Boxes.png
*. Retail Box.png
*. Retails Boxes .png
*. Rigid Boxes .png
